<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StorageServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51302/StorageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StorageServiceSoap"
                contract="ServiceReference.StorageServiceSoap" name="StorageServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>